<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162522100223-2gmke42aj49g6a9q7iitk2lg524umicg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162522100223-2gmke42aj49g6a9q7iitk2lg524umicg</string>
	<key>API_KEY</key>
	<string>AIzaSyCmmHmkLJ5I2HCynIA9Dkdq2laBqqRnBt8</string>
	<key>GCM_SENDER_ID</key>
	<string>162522100223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kk.m5-learning-app</string>
	<key>PROJECT_ID</key>
	<string>learning-app-cwc-db-m2</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-app-cwc-db-m2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162522100223:ios:6501cd5fd253974396b7ca</string>
</dict>
</plist>